<%= render 'shared/flash_message' %>
<%= render 'shared/plot_menu', { plot: @plot } %>
<div class="bg-base-200">
  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content">
      <div class="m-2 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>">
        <%= image_tag("pushpin.png", alt: "pin icon", class: "mx-auto", width: '30px', height: '30px') %>
        <div class="w-full border-b border-gray-500 navbar top-0 sticky <%= render "shared/plot_color", { plot: @plot } %>">
          <div class="flex-1">
            <label for="my-drawer-3" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </label>
          <% if @note.present? %>
            <%= form_with model: @note, local: true do |f| %>
              <%= f.text_field :title, class: 'mx-2 input w-full'%>
          </div>
            <label for="my-modal-4" class="btn btn-ghost font-light">メモを削除</label>
          
              <%= f.submit '保存する', class: 'font-light btn btn-ghost' %>
        </div>
          <div class="m-2">
            <%= f.text_area :content, class: 'textarea min-h-screen w-full h-full' %>
          </div>
            <% end %>
          <% end %>
      </div> 
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-3" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-80 bg-base-100">
        <%= render partial: "notes/note_menu", collection: @notes %>
        <li><%= link_to "メモを追加+", new_plot_note_path(@plot) %></li>
      </ul>
    </div>
  </div>
</div> 

<%= render 'chats/chat' %>
<% if @note.present? %>
<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <div class="text-xl font-bold m-2 mb-4 border-b border-gray-500">メモを削除。</div>
    <div class="text-sm m-2 my-4">メモのデータを削除しても本当によろしいですか？</br>削除後に元に戻すことはできません。</div>
    <%= button_to "メモを削除する",note_path(@note),class: 'btn text-gray-100 bg-gray-900 m-2 right-0', method: :delete %>  
  </label>
</label>
<% end %>