<%= render 'shared/flash_message' %>
<%= render 'demos/shared/plot_menu', { plot: @plot } %>
<div id="demo1", class="bg-base-200 min-h-screen pb-10">
  <div class="grid grid-cols-1">
    <div class="m-2 col-span-1 grid grid-cols-5 sm:grid-cols-9 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>" >
      <%= label_tag "my-modal", "new card", class: "btn btn-ghost col-span-2 sm:col-span-1" unless @plot.user != current_user && @plot.accessibility == '公開' %>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">感情グラフ</span> 
          <input type="checkbox" class="toggle" onclick="document.getElementById('card').classList.toggle('hidden')"/>
        </label>
      </div>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">伏線グラフ</span> 
          <input type="checkbox" class="toggle" onclick="document.getElementById('foreshadowing').classList.toggle('hidden')"/>
        </label>
      </div>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">時系列表</span> 
          <input type="checkbox" class="toggle" onclick="document.getElementById('timelines').classList.toggle('hidden')"/>
        </label>
      </div>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">ACT ONE</span> 
          <input type="checkbox" class="toggle" checked onclick="document.getElementById('ACT ONE').classList.toggle('hidden')"/>
        </label>
      </div>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">ACT TWO I</span> 
          <input type="checkbox" class="toggle" checked onclick="document.getElementById('ACT TWO I').classList.toggle('hidden')"/>
        </label>
      </div>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">ACT TWO II</span> 
          <input type="checkbox" class="toggle" checked onclick="document.getElementById('ACT TWO II').classList.toggle('hidden')"/>
        </label>
      </div>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">ACT THREE</span> 
          <input type="checkbox" class="toggle"checked onclick="document.getElementById('ACT THREE').classList.toggle('hidden')"/>
        </label>
      </div>
      <div class="flex col-span-1">
        <label class="label cursor-pointer">
          <span class="label-text mr-1 hidden md:block">implicit</span> 
          <input type="checkbox" class="toggle"checked onclick="document.getElementById('implicit').classList.toggle('hidden')"/>
        </label>
      </div>
    </div>
    <div class="m-2 pr-2 col-span-1 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>">
      <div id="card" class="hidden col-span-1">
      <div class="text-2xl m-2">感情値グラフ</div>
        <%= content_tag :div, "", id: "root", data: { cards: @cards_json || '[]' } %>
        <%= vite_javascript_tag 'board.tsx' %>
      </div>
    </div>
    <div class="m-2 pr-2 col-span-1 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>">
      <div id="foreshadowing" class="hidden col-span-1">
        <div class="text-2xl m-2">伏線グラフ</div>
        <%= content_tag :div, "", id: "graph", data: { foreshadowings: @cards_json_foreshadowing || '[]' } %>
        <%= vite_javascript_tag 'card.tsx' %>
      </div> 
    </div>
    <div class="m-2 pr-2 col-span-1 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>">
      <div id="timelines" class="hidden col-span-1">  
        <div class="text-2xl m-2">時系列表</div>
        <div class="h-80 m-2 overflow-y-auto overscroll-none">
          <table class="w-full">
            <thead class="sticky top-0 bg-neutral text-neutral-content">
              <tr>
                <th>時間</th>
                <th>シーン</th>
                <th>シーンタイトル</th>
                <th>シーン内容</th>
                <th>シーンタイプ</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "cards/timeline", collection: @timelines %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <label for="my-modal" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
      <label for="my-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      デモではカードを作成することはできません！</br>アカウント登録をして自分好みのプロットを作成してみませんか？
    <div><%= link_to "SignUp",new_user_path, class: "btn animate-pulsate-fwd" %></div>
    </label>
  </label>
  <div class="m-2">
    <% if @cards.present? && @plot.length_type == '長編' %>
      <% cards_by_act = @cards.group_by { |card| card.scene > 30 ? "ACT THREE" : card.scene > 20 ? "ACT TWO II" : card.scene > 10 ? "ACT TWO I" : "ACT ONE" } %>
      <% cards_by_act.each do |act, cards| %>
        <div id="<%= act %>">
          <div class="text-2xl"><%= act %></div>
          <div class="overflow-x-auto flex py-2">
            <%= render partial: "demos/cards/card", collection: cards %>
          </div>
        </div>
      <% end %>
    <% elsif @plot.length_type == '中編' %>
      <% cards_by_act = @cards.group_by { |card| card.scene > 15 ? "ACT THREE" : card.scene > 10 ? "ACT TWO II" : card.scene > 5 ? "ACT TWO I" : "ACT ONE" } %>
      <% cards_by_act.each do |act, cards| %>
        <div id="<%= act %>">
          <div class="text-2xl"><%= act %></div>
          <div class="overflow-x-auto flex py-2">
            <%= render partial: "demos/cards/card", collection: cards %>
          </div>
        </div>
      <% end %>
    <% elsif @plot.length_type == '短編' %>
      <% cards_by_act = @cards.group_by { |card| card.scene > 6 ? "ACT THREE" : card.scene > 4 ? "ACT TWO II" : card.scene > 2 ? "ACT TWO I" : "ACT ONE" } %>
      <% cards_by_act.each do |act, cards| %>
        <div id="<%= act %>">
          <div class="text-2xl"><%= act %></div>
          <div class="overflow-x-auto flex py-2">
            <%= render partial: "demos/cards/card", collection: cards %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div id="implicit">
      <div class="text-2xl">implicit scene</div>
      <div class="overflow-x-auto flex py-2">
        <%= render partial: "demos/cards/implicit_card", collection: @implicit_cards  %>
      </div>
    </div>
  </div>
</div>

<div class="fixed bg-base-100 shadow-xl bottom-20 m-8 z-20 h-52 sm:h-40 w-11/12 max-w-5xl border-2 rounded-lg border-stone-800">
  <div class="chat chat-start mt-2">
    <div class="chat-image">
      <%= image_tag("booknekosan.png", width: '120px', height: '120px', class: "bottom-0") %>
    </div>
    <div id="text", class="chat-bubble chat-bubble-secondary"></div>
  </div>
  <div class="-my-8 m-2 flex justify-end items-end">
    <% if current_user.running? %>
      <%= button_to  'チュートリアルを終了する', complete_tutorial_path(current_user), class: "btn btn-sm m-2" , method: :patch %>
    <% else %>
      <%= link_to "SignUp",new_user_path, class: "btn btn-sm m-2" %>
    <% end %>
    <div id="increment-btn", class="btn btn-sm m-2">前へ</div>
    <div id="decrement-btn", class="btn btn-sm m-2">次へ</div>
  </div>
</div>


<script>
const incrementBtn = document.getElementById('increment-btn');
const decrementBtn = document.getElementById('decrement-btn');

const demo1 = document.getElementById('demo1');

const menu1 = document.getElementById('menu1');
const menu2 = document.getElementById('menu2');
const menu3 = document.getElementById('menu3');
const menu4 = document.getElementById('menu4');
const menu5 = document.getElementById('menu5');
const menu6 = document.getElementById('menu6');

const textDiv = document.getElementById('text');

const texts = [
  'このページでは基本40枚カードを使って、本格的にプロット管理をしていくよ！',
  'カードを一度タップするとカードの情報が編集できるよ！ゴミ箱をクリックすると消せるよ！',
  '画面の上部にあるトグルを一度クリックすると、グラフが表示されるよ！やってみよう！',
  '感情グラフは、ストーリー進行によって起こる感情の変化を見ることができるよ！',
  '伏線グラフは、シーンと伏線の関連を一目でチェックすることができるよ！',
  '時系列表では、シーンの順番ではなく、作中の時系列にそって並べられているよ！',
  '次は伏線ページをクリックしてみよう！',
];
let currentIndex = 0;

textDiv.textContent = texts[currentIndex];
updateButtonVisibility();

incrementBtn.addEventListener('click', () => {
  currentIndex = Math.max(currentIndex - 1, 0);
  textDiv.textContent = texts[currentIndex];
  updateButtonVisibility();
});

decrementBtn.addEventListener('click', () => {
  currentIndex = Math.min(currentIndex + 1, texts.length - 1);
  textDiv.textContent = texts[currentIndex];
  updateButtonVisibility();
});

function updateButtonVisibility() {
  if (currentIndex === 0) {
    incrementBtn.setAttribute('disabled', true);
  } else {
    incrementBtn.removeAttribute('disabled');
  }

  if (currentIndex === texts.length - 1) {
    decrementBtn.setAttribute('disabled', true);
    demo1.classList.add('brightness-50');
    menu1.classList.add('brightness-50');
    menu2.classList.add('brightness-50');
    menu3.classList.add('brightness-50');
    menu4.classList.add('brightness-50');
    menu5.classList.add('animate-pulsate-fwd');
    menu6.classList.add('brightness-50');
  } else {
    decrementBtn.removeAttribute('disabled');
    demo1.classList.remove('brightness-50');
    menu1.classList.remove('brightness-50');
    menu2.classList.remove('brightness-50');
    menu3.classList.remove('brightness-50');
    menu4.classList.remove('brightness-50');
    menu5.classList.remove('animate-pulsate-fwd');
    menu6.classList.remove('brightness-50');
  }
}
</script>