<div class="m-2 col-span-1 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>">
  <%= image_tag("pushpin.png", alt: "pin icon", class: "mx-auto", width: '30px', height: '30px') %>
  <div class="mx-4 mb-2 border-b border-gray-500 text-xl">タイトル</div>
  <div class="mx-4 mb-8"><%= @plot.name %></div>
  
  <div class="mx-4 mb-2 border-b border-gray-500 text-xl">テーマ</div>
  <div class="mx-4 mb-8"><%= @plot.theme %></div>

  <div class="mx-4 mb-2 border-b border-gray-500 text-xl">ログライン</div>
  <div class="mx-4 mb-8"><%= @plot.one_line %></div>

  <div class="mx-4 mb-2 border-b border-gray-500 text-x">作品の長さ</div>
  <div class="mx-4 mb-8"><%= @plot.length_type %></div>

  <div class="mx-4 mb-2 border-b border-gray-500 text-x">作中時間</div>
  <div class="mx-4 mb-8"><%= l(@plot.timeline , format: :deluxe) %></div>

  <div class="mx-4 mb-2 border-b border-gray-500 text-x">人称</div>
  <div class="mx-4 mb-8"><%= @plot.person %></div>

</div>