<div class="bg-base-200 min-h-screen text-gray-700">
  <%= render 'shared/login_check' %>
  <%= render 'shared/flash_message' %>
  <div class="flex border-b-4 border-base-300">
    <div class="flex-1 font-light mx-4 m-2 text-4xl drop-shadow-2xl"><%= link_to "プロット一覧", plots_path, class: "text-3xl" %></div>
  </div>
  <div class="">
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
      <div class="m-2 mx-4 justify-self-end col-span-2 md:col-span-3 xl:col-span-4 2xl:col-span-5"><%= render 'search_form' %></div>
      <%= render @plots %>
      <div class="stack">
        <%= link_to new_plot_path, class: "card-link" do %>
          <div class="card m-2 sm:m-4 h-40 bg-gradient-to-b from-white to-amber-50 shadow-2xl relative flex flex-col justify-center items-center hover:rotate-6">
            <p class="text-sm"><i class="bi bi-plus-lg " style="font-size: 2rem;"></i></p>
          </div>
        <% end %>
        <div class="card m-2 xs:m-4 h-40 bg-pink-100"></div>
        <div class="card m-2 xs:m-4 h-40 bg-cyan-100"></div>
        <div class="card m-2 xs:m-4 h-40 bg-orange-100"></div>
        <div class="card m-2 xs:m-4 h-40 bg-teal-100"></div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>

<div class="fixed bottom-0 right-0 m-8 z-20">
  <%= link_to new_plot_path, class: "shadow-2xl rounded-full bg-neutral-400 hover:bg-neutral-500 text-white font-bold p-10 flex items-center justify-center" do %>
    <i class="bi bi-plus-lg fixed" style="font-size: 1.5rem;"></i>
  <% end %>
</div>

<% if current_user.not_started? %>
<input type="checkbox" id="my-modal" class="modal-toggle" checked />
<div class="modal">
  <div class="modal-box">
    <div class="text-xl font-bold m-2 mb-4 border-b border-gray-500 text-gray-700">アカウント作成ありがとうございます！🎉</div>
    <div class="text-sm m-2 my-4 text-gray-700">MidPlotでは、皆さんがスムーズかつ楽しくプロット制作アプリを利用できるよう、チュートリアルを用意しています。</div>
    <div class="text-sm m-2 my-4 text-gray-700">※今回スキップした場合でも、マイページから再度チュートリアルを実行することができます。</div>
    <div class="flex justify-between mt-5">
      <%= button_to  'スキップ', complete_tutorial_path(current_user), class: "btn m-2" , method: :patch %>
      <%= button_to  'チュートリアルへ', start_tutorial_path(current_user), class: "btn m-2" , method: :patch %>
    </div>
  </div>
</div>
<% end %>