<% content_for :content do %>

  <div class="hero screen bg-base-200">
    <div class='grid grid-cols-6 gap-4'>
      <div class='col-span-2'>
        <p class='border-b-4 pb-2 border-indigo-500'>テーマ</p>
        <p class='text-1xl pb-4'><%= @plot.theme %></p>
        <p class='border-b-4 pb-2 border-indigo-500'>ログライン</p>
        <p class='text-1xl pb-4'><%= @plot.one_line %></p>
        <p class='border-b-4 pb-2 border-indigo-500'>メモ</p>
        <p class='text-1xl pb-4'><%= @plot.memo %></p>
      </div>
      <div class='col-span-4'>
        <%= render 'eighteen_lines/form', { plot: @plot, eighteen_line: @eighteen_line } %>
        <%= render @eighteen_lines %>
      </div>
    </div>
  </div>

<% end %>
<%= render 'shared/plot_menu', { plot: @plot } %>