<%= render 'shared/flash_message' %>
<%= render 'shared/plot_menu', { plot: @plot } %>

<div class="bg-base-200 min-h-screen">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <%= form_with model: @plot, local: true do |f| %>
    <div class='m-2 pr-2 col-span-1 shadow-xl <%= render "plots/plot_color", { plot: @plot } %>'>
    <%= image_tag("pushpin.png", alt: "pin icon", class: "mx-auto", width: '30px', height: '30px') %>
      <div class="mx-4 border-b border-gray-500 text-xl">タイトル <div class="tooltip tooltip-right" data-tip="作品のタイトルを決めましょう。"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.text_field :name, class: 'ml-1 my-2 input input-ghost input-sm w-full max-w-xs'%>
      <div class="mx-4 border-b border-gray-500 text-xl">テーマ <div class="tooltip tooltip-right" data-tip="作品のテーマを設定し、伝えたいことは何かを考えましょう。"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.text_field :theme, class: 'ml-1 my-2 input input-ghost input-sm w-full max-w-xs'%>
      <div class="mx-4 border-b border-gray-500 text-xl">ログライン <div class="tooltip tooltip-right" data-tip="作品のログライン（one line）を設定しましょう。ログラインとは、作品を一行で簡潔にまとめたものです。"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.text_area :one_line, class: 'ml-1 my-2 textarea textarea-ghost textarea-sm w-full max-w-xl h-24'%>
      <div class="mx-4 border-b border-gray-500 text-xl">カードカラー <div class="tooltip tooltip-right" data-tip="プロットカードの色を選択できます"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.collection_select :color, Plot.colors.keys, :to_s, :to_s, { prompt: "Select a color"  }, { class: "ml-3 select select-ghost select-xs max-w-xs my-2" }%>
      <div></div>
      <%= f.submit '変更を保存', class: 'btn btn-ghost font-light my-2' %>
    <% end %>
    <label for="my-modal-4" class="btn btn-ghost font-light">プロットを削除</label>
      <input type="checkbox" id="my-modal-4" class="modal-toggle" />
      <label for="my-modal-4" class="modal cursor-pointer">
        <label class="modal-box relative" for="">
          <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
          <div class="text-xl font-bold m-2 mb-4 border-b border-gray-500">プロットを削除。</div>
          <div class="text-sm m-2 my-4">プロットのデータを削除しても本当によろしいですか？</br>削除後に元に戻すことはできません。ご了承ください。</div>
          <%= button_to "プロットを削除する",plot_path(@plot),class: 'btn text-gray-100 bg-gray-900 m-2', method: :delete %>  
        </label>
      </label>
    </div>
    <div class="m-2 pr-2 col-span-1 shadow-xl <%= render "plots/plot_color", { plot: @plot } %>">
      <%= image_tag("pushpin.png", alt: "pin icon", class: "mx-auto", width: '30px', height: '30px') %>
      <div class="mx-3 text-xl border-b border-gray-500">18のプロットポイント</div>
      <%= render @eighteen_lines %>
      <%= render 'eighteen_lines/form', { plot: @plot, eighteen_line: @eighteen_line } %>
    </div>
  </div>
</div>