<%= render 'shared/flash_message' %>
<%= render 'shared/plot_menu', { plot: @plot } %>

<div class=" <%= render "plot_color", { plot: @plot } %> min-h-screen ">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 ">
    <%= form_with model: @plot, local: true do |f| %>
    <div class='m-2 col-span-1'>
      <div class="ml-3 border-b border-gray-500 text-xl">タイトル <div class="tooltip tooltip-right" data-tip="作品のタイトルを決めましょう。"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.text_field :name, class: 'my-2 input input-ghost input-sm w-full max-w-xs'%>
      <div class="ml-3 border-b border-gray-500 text-xl">テーマ <div class="tooltip tooltip-right" data-tip="作品のテーマを設定し、伝えたいことは何かを考えましょう。"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.text_field :theme, class: 'my-2 input input-ghost input-sm w-full max-w-xs'%>
      <div class="ml-3 border-b border-gray-500 text-xl">ログライン <div class="tooltip tooltip-right" data-tip="作品のログライン（one line）を設定しましょう。ログラインとは、作品を一行で簡潔にまとめたものです。"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.text_field :one_line, class: 'my-2 input input-ghost input-sm w-full max-w-xs'%>
      <div class="ml-3 border-b border-gray-500 text-xl">カードカラー <div class="tooltip tooltip-right" data-tip="プロットカードの色を選択できます"><i class="text-xs bi bi-question-circle-fill"></i></div></div>
      <%= f.collection_select :color, Plot.colors.keys, :to_s, :to_s, { prompt: "Select a color"  }, { class: "ml-2 select select-ghost select-xs max-w-xs my-2" }%>
      <div></div>
      <%= f.submit '変更を保存する。', class: 'btn btn-ghost font-light my-2' %>
    <% end %>
      <label for="my-modal-2" class="btn btn-ghost font-light">プロットを削除する。</label>
      <input type="checkbox" id="my-modal-2" class="modal-toggle" />
      <div class="modal w-full">
        <div class="modal-box relative">
          <label for="my-modal-2" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
          <div class="text-xl font-bold mb-4 border-b border-gray-500">プロットを削除する。</div>
          <%= button_to "プロットを削除する",plot_path(@plot), method: :delete %>
        </div>
      </div>
    </div>

    <div class="m-2 col-span-1">
      <div class="mb-2 text-xl border-b border-gray-500">18のプロットポイント</div>
      <%= render @eighteen_lines %>
      <%= render 'eighteen_lines/form', { plot: @plot, eighteen_line: @eighteen_line } %>
    </div>
    </div>
  </div>
</div>