<%= form_with model: foreshadowing, url: plot_foreshadowings_path(@plot, foreshadowing), local: true do |f| %>
  <div class="text-xl border-b border-gray-500 ">伏線を追加する</div>
  <div class="grid grid-cols-1">
    <%= f.label :タイトル, class: 'my-1 text-xl' %>
    <%= f.text_field :name, class: 'my-1 input input-bordered input-secondary md:input-sm input-lg w-full max-w-full', placeholder: "伏線タイトルを入力" %>
    <%= f.label :伏線の内容, class: 'my-1 text-xl' %>
    <%= f.text_area :body, class: 'my-1 textarea textarea-secondary md:textarea-sm textarea-lg w-full max-w-full h-24',  placeholder: "内容を入力" %>
    <div class="flex flex-wrap flex-row">
      <%= f.collection_check_boxes :card_ids, @plot.cards.all, :id, :scene do |cb| %>
        <div class="relative flex my-1">
          <%= cb.check_box(class: 'checkbox mr-16') %>
          <div class="ml-7 label-text absolute inset-0">scene<%= cb.label%></div>
        </div>
      <% end %>
    </div>
    <%= f.submit '更新する', class: 'btn text-gray-100 bg-gray-900 my-2'  %>
  </div>
<% end %>