<%= render 'shared/flash_message' %>
<%= render 'shared/plot_menu', { plot: @plot } %>

<div class="bg-base-200 min-h-screen pb-10">
  <div class="grid grid-cols-1">
    <div class="m-2 col-span-1 grid grid-cols-1 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>">
      <%= label_tag "my-modal", "new foreshadowing", class: "btn btn-ghost" unless @plot.user != current_user && @plot.accessibility == '公開' %>
    </div>
  </div>
  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <label for="my-modal" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
      <label for="my-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <%= render 'foreshadowings/form', { foreshadowing: @foreshadowing } %>
    </label>
  </label>
  <div class="text-2xl m-3">伏線一覧</div>
  <div class="m-2 grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    <% if @plot.user != current_user && @plot.accessibility == '公開' %>
      <%= render partial: "foreshadowings/foreshadowing_view_only", collection: @foreshadowings %>
    <% else %>
      <%= render @foreshadowings %>
    <% end %>
  </div>
</div>

<%= render 'chats/chat' %>