<%= render 'shared/flash_message' %>

<div class="bg-neutral text-neutral-content relative">
  <%= render 'shared/login_check' %>
  <div class="relative">
    <%= image_tag "top_image1.jpg", class: "h-500 w-full" %>
    <div class="ml-2 font-fancy text-xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl absolute bottom-2">
      <div id="top"></div>
      <%= vite_javascript_tag 'top.tsx' %>
    </div>
  </div>
</div>

<script>
  setTimeout(() => {
    const elements = document.querySelectorAll('.my-text');
    elements.forEach((element) => {
      const firstLetter = element.innerHTML.charAt(0);
      element.classList.remove('my-text');
      element.classList.add('text-red-700');
    });
  }, 5300);
</script>
<%= render 'shared/footer' %>