<%= render 'shared/flash_message' %>

<div class="bg-neutral text-neutral-content relative font-fancy">
  <%= render 'shared/login_check' %>
  <%= image_tag "top_image3.jpg", class: "h-500 w-full" %>
  <div id="top"></div>
  <%= vite_javascript_tag 'top.tsx' %>
</div>

<div class="fixed bottom-10 right-0 m-8 z-20">
  <div class="sm:hidden"><%= link_to "SignUp",new_user_path, class: "btn btn-neutral btn-xl " %></div>
</div>


<script>
setTimeout(() => {
  const elements = document.querySelectorAll('.my-text-second');
  elements.forEach((element) => {
    const firstLetter = element.innerHTML.charAt(0);
    element.classList.remove('hidden');
  });
}, 1000);
</script>
<%= render 'shared/footer' %>