<%= render 'shared/flash_message' %>

<div class="bg-neutral text-neutral-content relative">
  <%= render 'shared/login_check' %>
  <%= image_tag "top_image3.jpg", class: "h-500 w-full" %>
  <div id="top"></div>
  <%= vite_javascript_tag 'top.tsx' %>
</div>

<script>
setTimeout(() => {
  const elements = document.querySelectorAll('.my-text');
  elements.forEach((element) => {
    const firstLetter = element.innerHTML.charAt(0);
    element.classList.remove('my-text');
    element.classList.add('animate-ping');
  });
  setTimeout(() => {
    elements.forEach((element) => {
      element.classList.add('hidden');
    });
  }, 600);
}, 13000);
</script>
<%= render 'shared/footer' %>