<footer class="footer items-center p-2 bg-neutral text-neutral-content">
  <div class="items-center grid grid-cols-1 sm:grid-cols-2">
    <div class="col-span-1 ">
      © 2023 MidPlot
    </div>
    <div class="col-span-1">
      <%= link_to "利用規約", terms_path %> | 
      <%= link_to "プライバシーポリシー", privacy_policy_path %> | 
      <%= link_to "お問合せ先","https://forms.gle/Hs34LsfPFWG3qn7R7" %> |
      <%= link_to "製作者Twitter","https://twitter.com/yuu_pppppp" %> |
      <%= link_to 'Twitterシェア', "https://twitter.com/share?url=https://midplot.magia.runteq.jp/", title: 'Twitter', target: '_blank' %>
    </div>
   </div>
</footer>