<div class="navbar bg-base-100 border-b border-gray-500">
  <% if  logged_in? %>
    <div class="flex-1"><%= link_to image_tag("logo.png", :size => '150x150'), plots_path %></div>
    <div class='flex-none'><%= link_to "My_page", my_page_path %></div>
  <% else %>
    <div><%= link_to image_tag("logo.png", :size => '150x150'), root_path %></div>
    <div>
      <label for="my-modal-1" class="btn btn-ghost">signup</label>
      <input type="checkbox" id="my-modal-1" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <div class="modal-action">
            <label for="my-modal-1" class="btn btn-ghost">閉じる</label>
          </div>
          <%= render 'users/new' %>
        </div>
      </div>
    </div>
    <div>
      <label for="my-modal-2" class="btn btn-ghost">login</label>
      <input type="checkbox" id="my-modal-2" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <div class="modal-action">
            <label for="my-modal-2" class="btn btn-ghost">閉じる</label>
          </div>
         <%= render 'user_sessions/new' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
