<%= form_with model: eighteen_line, url: plot_eighteen_lines_path(@plot, eighteen_line), local: true do |f| %>
  <div class="grid grid-cols-1">
    <div class="text-xl border-b border-gray-500 ">プロットポイントを更新する</div>
    <%= f.label :シーンナンバー, class: 'my-1 text-xl' %>
    <%= f.number_field :number, class: 'my-1 input input-bordered input-secondary md:input-md input-lg w-full max-w-full', placeholder: "シーンナンバー" %>
    <%= f.label :プロットポイント, class: 'my-1 text-xl' %>
    <%= f.text_field :name, class: 'my-1 input input-bordered input-secondary md:input-md input-lg w-full max-w-full', placeholder: "タイトルを入力してください。" %>
    <%= f.label :解説, class: 'my-1 text-xl' %>
    <%= f.text_field :explanation, class: 'my-1 input input-bordered input-secondary md:input-md input-lg w-full max-w-full', placeholder: "解説を入力してください。" %>
    <%= f.label :シーン内容, class: 'my-1 text-xl' %>
    <%= f.text_area :body, class: 'my-1 textarea textarea-secondary md:textarea-md textarea-lg w-full max-w-full h-24', placeholder: "シーンの内容を入力してください。" %>
    <%= f.submit '更新する', class: 'btn text-gray-100 bg-gray-900 my-2' %>
  </div>
<% end %>