<%= form_with model: eighteen_line, url: plot_eighteen_lines_path(@plot, eighteen_line), local: true do |f| %>
  <div class="grid grid-cols-1">
    <div class="text-xl border-b border-gray-500 ">プロットポイントを追加する。</div>
    <%= f.label :プロットポイント, class: 'my-1 text-xl' %>
    <%= f.text_field :name, class: 'my-1 input input-bordered input-secondary input-md w-full max-w-xl', placeholder: "タイトルを入力してください。" %>
     <%= f.label :シーン内容, class: 'my-1 text-xl' %>
    <%= f.text_area :body, class: 'my-1 input input-bordered input-secondary input-md w-full max-w-xl h-24', placeholder: "シーンの内容を入力してください。" %>
    <%= f.submit '更新する', class: 'btn text-gray-100 bg-gray-900 my-2' %>
  </div>
<% end %>