<label for="my-modal-<%= character.id %>" , class="cursor-pointer">
  <div class="carousel-item <%= render "shared/plot_card_color", { plot: @plot } %> card m-2 shadow-xl ">
    <div class="grid grid-cols-1">
      <div class="mx-3 mt-1 font-semibold border-b border-slate-700"><%= character.name  %></div>
      <div class="text-sm mb-12 mt-2 ml-4 mx-3"><%= simple_format(h(character.body)) %></div>
    </div>
  </div>
</label>

<input type="checkbox" id="my-modal-<%= character.id %>" class="modal-toggle" />
<label for="my-modal-<%= character.id %>" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <label for="my-modal-<%= character.id %>" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <%= form_with model: character, local: true do |f| %>
      <div class="text-xl border-b border-gray-500 ">登場人物を更新する</div>
      <div class="grid grid-cols-1">
        <%= f.label :名前, class: 'my-1 text-xl' %>
        <%= f.text_field :name, class: 'my-1 input input-bordered input-secondary input-md w-full max-w-xl', placeholder: "名前を入力" %>
        <%= f.label :登場人物の内容, class: 'my-1 text-xl' %>
        <%= f.text_area :body, class: 'my-1 input input-bordered input-secondary input-md h-40 w-full max-w-xl',  placeholder: "内容を入力" %>
        <%= f.submit '更新する', class: 'btn text-gray-100 bg-gray-900 my-2'  %>
        </div>
    <% end %>
    <%= button_to "カードを削除する",character_path(character),class: 'btn text-gray-100 bg-gray-900 m-2 right-0', method: :delete %> 
  </label>
</label>