<%= form_with model: @character, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'input input-ghost w-full max-w-xs', placeholder: "名前を入力" %>
    <%= f.label :body %>
    <%= f.text_field :body, class: 'input input-ghost w-full max-w-xs', placeholder: "設定を入力" %>
    <%= f.submit '登録する', class: 'btn btn-ghost' %>
  </div>
<% end %>