<%= form_with model: character, url: plot_characters_path(@plot, character), local: true do |f| %>
  <div class="text-xl border-b border-gray-500 ">登場人物を追加する</div>
  <div class="grid grid-cols-1">
    <%= f.label :名前, class: 'my-1 text-xl' %>
    <%= f.text_field :name, class: 'my-1 input input-bordered input-secondary md:input-md input-lg w-full max-w-full', placeholder: "名前を入力" %>
    
    <%= f.label :役職, class: 'my-1 text-xl' %>
    <%= f.text_field :role, class: 'my-1 input input-bordered input-secondary md:input-md input-lg w-full max-w-full',  placeholder: "役職を入力" %>

    <i class="text-xs bi bi-question-circle-fill" onclick="document.getElementById('explanation<%= character.id %>').classList.toggle('hidden')">詳細設定を記入する</i>
    <div class="hidden" id="explanation<%= character.id %>">
      <%= f.label :年齢, class: 'my-1 text-xl' %>
      <%= f.number_field :age, class: 'my-1 input input-bordered input-secondary md:input-md input-lg w-full max-w-full', placeholder: "年齢を入力" %>

      <%= f.label :職業・地位, class: 'my-1 text-xl' %>
      <%= f.text_field :occupation, class: 'my-1 input input-bordered input-secondary md:input-md input-lg w-full max-w-full', placeholder: "職業・地位を入力" %>
      
      <%= f.label :外見の特徴, class: 'my-1 text-xl' %>
      <%= f.text_area :appearance, class: 'my-1 textarea textarea-secondary md:textarea-md textarea-lg w-full max-w-full h-24',  placeholder: "外見の特徴を入力" %>
      
      <%= f.label :性格・性格の特徴, class: 'my-1 text-xl' %>
      <%= f.text_area :personality, class: 'my-1 textarea textarea-secondary md:textarea-md textarea-lg w-full max-w-full h-24',  placeholder: "性格・性格の特徴を入力" %>
      
      <%= f.label :目的・モチベーション, class: 'my-1 text-xl' %>
      <%= f.text_area :motivation, class: 'my-1 textarea textarea-secondary md:textarea-md textarea-lg w-full max-w-full h-24',  placeholder: "目的・モチベーションを入力" %>
      
      <%= f.label :関係性, class: 'my-1 text-xl' %>
      <%= f.text_area :relationship, class: 'my-1 textarea textarea-secondary md:textarea-md textarea-lg w-full max-w-full h-24',  placeholder: "関係性を入力" %>
    </div>
    
    <%= f.label :メモ, class: 'my-1 text-xl' %>
    <%= f.text_area :body, class: 'my-1 textarea textarea-secondary md:textarea-md textarea-lg w-full max-w-full h-24',  placeholder: "内容を入力" %>

    <%= f.label :アバター画像, class: 'my-1 text-xl' %>
    <%= f.file_field :avatar, class: 'my-1 file-input file-input-bordered w-full max-w-xs', accept: 'image/*', onchange: 'previewImage(event)' %>
    <div id="avatar-preview"></div>

    <%= f.submit '更新する', class: 'btn text-gray-100 bg-gray-900 my-2'  %>
  </div>
<% end %>

<script>
  function previewImage(event) {
    var input = event.target;
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var preview = document.getElementById('avatar-preview');
        preview.innerHTML = '<img src="' + e.target.result + '">';
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>