<%= render 'shared/flash_message' %>
<%= render 'shared/plot_menu', { plot: @plot } %>

<div class="bg-base-200 min-h-screen pb-10">
  <div class="grid grid-cols-1">
    <div class="m-2 col-span-1 grid grid-cols-1 shadow-xl <%= render "shared/plot_color", { plot: @plot } %>">
      <label for="my-modal" class="btn btn-ghost">new character</label>
    </div>
  </div>
  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <label for="my-modal" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
      <label for="my-modal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
      <%= render 'characters/form', { character: @character } %>
    </label>
  </label>
    <div class="text-2xl m-3">登場人物一覧</div>
    <div class="m-2 grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
      <%= render @characters %>
    </div>
</div>