<label class="swap swap-flip">
  
  <!-- this hidden checkbox controls the state -->
  <input type="checkbox" />


<div class="swap-on">
  <div class="snap-start -rotate-6 <%= render "shared/plot_card_color", { plot: @plot } %> card m-4 h-40 w-80 shadow-xl relative">
    <div class="flex">
      <div class="mx-3 mt-1 flex-1 border-b border-slate-700">scene <%= card.scene %></div>
    </div>
    <div class="text-xl ml-20 my-2">Edit? or Delete!</div>
    <div class="absolute bottom-0 my-4 mx-14 flex">
      <%= link_to edit_card_path(card), class: "flex-1 hover:animate-pulse animate-bounce" do %>
        <i class="bi bi-pencil-square text-6xl"></i>
      <% end %>
      <label for="my-modal-<%=card.id%>", class="ml-20 bi bi-trash text-6xl hover:animate-pulse animate-bounce hover:cursor-pointer">
    </div>
  </div>
</div>
  
<div class="swap-off">
    <div class="snap-start <%= render "shared/plot_card_color", { plot: @plot } %> card m-4 h-40 w-80 shadow-xl relative">
      <div class="flex">
        <div class="mx-3 mt-1 font-semibold flex-1 border-b border-slate-700">scene <%= card.scene %><i class="bi bi-eye ml-2 text-xs not-italic"><%= card.point_of_view %></i></div>
        <div class="text-xl mr-1 mt-1 font-medium border-b border-slate-700"><i class="bi bi-heart-fill"></i><%= card.emotional_value %></div>
      </div>
      <div class="text-sm my-2 ml-4 mx-3"><%= truncate(card.body, length: 60, omission: '...') %></div>
      <div class="absolute inset-x-0 bottom-8 ml-4 mx-3" style="overflow-x: auto; white-space: nowrap;">
        <% card.foreshadowing_cards.each do |fc| %>
          <span class="badge badge-outline badge-sm">
            <%= fc.foreshadowing.name %>
          </span>
        <% end %>
      </div>
      <div class="absolute inset-x-0 bottom-0 m-2 flex border-t border-slate-700">
        <div class="flex-1 text-xs ml-1"><i class="bi bi-calendar3"></i><%= card.time %></div>
        <div class="text-xs"><i class="bi bi-geo-alt"></i><%= card.current_location %></div>
      </div>
    </div>
</div>
</label>
<input type="checkbox" id="my-modal-<%=card.id%>" class="modal-toggle" />
<label for="my-modal-<%=card.id%>" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <label for="my-modal-<%=card.id%>" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <div class="text-xl font-bold m-2 mb-4 border-b border-gray-500">scene <%= card.scene %>カードを削除。</div>
    <div class="text-sm m-2 my-4">カードのデータを削除しても本当によろしいですか？</br>削除後に元に戻すことはできません。ご了承ください。</div>
    <%= button_to "カードを削除する",card_path(card),class: 'btn text-gray-100 bg-gray-900 m-2 right-0', method: :delete %>  
  </label>
</label>