<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <p class="card-title"><%= card.name %></p>
    <p class="card-title"><%= card.time %></p>
    <p class="card-title"><%= card.current_location %></p>
    <p class="card-title"><%= card.point_of_view %></p>
    <p class="card-title"><%= card.emotional_value %></p>
    <p class="card-title"><%= card.body %></p>
  </div>
</div>