<%= form_with model: card, url: plot_cards_path(@plot, card),  local: true do |f| %>
  <div class="grid grid-cols-2">
    <%= f.label :scene %>
    <%= f.number_field :scene, class: 'input input-ghost w-full max-w-xs', placeholder: "シーンナンバー" %>
    <%= f.label :time %>
    <%= f.number_field :time, class: 'input input-ghost w-full max-w-xs', placeholder: "作中時間" %>
    <%= f.label :current_location %>
    <%= f.text_field :current_location, class: 'input input-ghost w-full max-w-xs', placeholder: "場所" %>
    <%= f.label :point_of_view %>
    <%= f.text_field :point_of_view, class: 'input input-ghost w-full max-w-xs', placeholder: "視点" %>
    <%= f.label :emotional_value %>
    <%= f.number_field :emotional_value , class: 'input input-ghost w-full max-w-xs', placeholder: "感情変動値" %>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'input input-ghost w-full max-w-xs', placeholder: "シーンを内容" %>
    <%= f.label :foreshadowing_ids %>
    <%= f.collection_check_boxes :foreshadowing_ids, Foreshadowing.all, :id, :name do |cb| %>
      <%= cb.check_box(class: 'input input-ghost w-full max-w-xs') %>
      <%= cb.label(class: 'input input-ghost w-full max-w-xs') %>
    <% end %>
    <%= f.submit '登録する', class: 'btn btn-ghost' %>
  </div>
<% end %>