<%= form_with model: card, url: plot_cards_path(@plot, card),  local: true do |f| %>
  <div class="grid grid-cols-1">
    <div class="text-xl border-b border-gray-500 ">カードを登録する</div>
    <%= f.label :シーンナンバー, class: 'my-1 text-xl' %>
    <%= f.number_field :scene, class: 'my-1 input input-bordered input-secondary md:input-sm input-lg w-full max-w-full', placeholder: "シーンナンバー" %>
    <%= f.label :シーンタイトル, class: 'my-1 text-xl' %>
    <%= f.text_field :title, class: 'my-1 input input-bordered input-secondary input-lg w-full max-w-full', placeholder: "タイトル" %>
    <%= f.label :開始時間, class: 'my-1 text-xl' %>
    <%= f.datetime_field :time_start, class: 'form-control' %>
    <%= f.label :終了時間, class: 'my-1 text-xl' %>
    <%= f.datetime_field :time_end, class: 'form-control'%>
    <%= f.label :場所, class: 'my-1 text-xl' %>
    <%= f.text_field :current_location, class: 'my-1 input input-bordered input-secondary md:input-sm input-lg w-full max-w-full', placeholder: "場所" %>
    <%= f.label :視点, class: 'my-1 text-xl' %>
    <%= f.text_field :point_of_view, class: 'my-1 input input-bordered input-secondary md:input-sm input-lg w-full max-w-full', placeholder: "視点" %>
    <%= f.label :感情変動値, class: 'my-1 text-xl' %>
    <%= f.number_field :emotional_value , class: 'my-1 input input-bordered input-secondary md:input-sm input-lg w-full max-w-full', placeholder: "感情変動値" %>
    <%= f.label :シーン内容, class: 'my-1 text-xl' %>
    <%= f.text_area :body, class: 'my-1 textarea textarea-secondary md:textarea-sm textarea-lg w-full max-w-full h-24', placeholder: "シーンの内容" %>
    <%= f.label :シーンタイプ, class: 'my-1 text-xl' %>
    <%= f.collection_select :scene_type, Card.scene_types.keys, :to_s, :to_s, { prompt: "Select a color" }, { selected: "explicit" } %>  
    <%= f.label :関連伏線, class: 'my-1 text-xl' %>
    <div>
      <%= f.collection_check_boxes :foreshadowing_ids, @foreshadowing_cards, :id, :name do |cb| %>
        <div class="relative">
          <%= cb.check_box(class: 'checkbox') %>
          <%= cb.label(class: 'ml-7 label-text absolute inset-0') %>
        </div>
      <% end %>
    </div>
    <%= f.submit '登録する', class: 'btn text-gray-100 bg-gray-900 my-2' %>
  </div>
<% end %>