<%= render 'shared/flash_message' %>
<%= render 'shared/plot_menu', { plot: @plot } %>

<div class="bg-base-200 min-h-screen ">
  <label for="my-modal" class="btn btn-ghost">new card</label>
  <input type="checkbox" class="toggle" checked onclick="document.getElementById('my-element').classList.toggle('hidden')"/>
  
  <div id="my-element" class="hidden">
    <%= content_tag :div, "", id: "root", data: { cards: @cards_json || '[]' } %>
    <%= vite_javascript_tag 'board.tsx' %>
  </div>
 
  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <div class="modal-action">
        <h3 class="font-bold text-lg">カードを登録する</h3>
        <label for="my-modal" class="btn btn-ghost">閉じる</label>
      </div>
        <%= render 'cards/form', { card: @card } %>
    </div>
  </div>
  <div class="m-2">
    <% if @cards.present? %>
      <div class="text-2xl">ACT ONE</div>
      <div class="carousel rounded-box">
        <%= render @cards.where(scene: 1..10) %>
      </div>
      <div class="text-2xl">ACT TWO</div>
      <div class="carousel rounded-box">
        <%= render @cards.where(scene: 11..20) if @cards.size > 10 %>
      </div>
      <div class="text-2xl">ACT TWO</div>
      <div class="carousel rounded-box">
        <%= render @cards.where(scene: 21..30) if @cards.size > 20 %>
      </div>
      <div class="text-2xl">ACT THREE</div>
      <div class="carousel rounded-box">
        <%= render @cards.where(scene: 31..100) if @cards.size > 30 %>
      </div>
    <% end %>
  </div>
</div>

