<div class="text-xl font-bold m-2 mb-4 border-b border-gray-500 text-gray-700">ログイン</div>
<div class='m-2 text-gray-700'>
  <%= form_with url: login_path, local: true do |f| %>
    <div class="flex flex-col">
      <%= f.label :メールアドレス, class: 'mb-2 text-xl' %>
      <%= f.text_field :email, class: 'my-1 input input-bordered w-full max-w-xs', placeholder:"email" %>
    </div>
    <div class="flex flex-col">
      <%= f.label :パスワード, class: 'my-2 text-xl' %>
      <%= f.password_field :password, class: 'my-1 input input-bordered w-full max-w-xs', placeholder:"password" %>
    </div>
    <%= f.submit 'ログイン', class: 'btn text-gray-100 bg-gray-900 my-2'%>
  <% end %>
</div>
